/* .image {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
} */

@media (min-width: 768px) {
  #container:hover #image-star {
    visibility: visible;
  }

  #container:hover #image-content {
    visibility: visible;
  }
}
