.image {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

@media (min-width: 768px) {
  .star {
    visibility: hidden;
  }

  #container:hover .star {
    visibility: visible;
  }
}
